.card {
    position: relative;
}

.card__item {
    padding: 30px;
    width: 360px;
    height: 500px;
    border: 1px solid #D3D8E4;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card__sticker {
    position: absolute;
    top: 12px;
    padding: 6px 15px 8px 16px;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 1.2px;
    background-color: #00B6DD;
    z-index: 1;
    text-transform: uppercase;
}

.card__img {
    margin-bottom: 20px;
    width: 300px;
    height: 170px;
}

.card__subtitle {
    display: block;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.8px;
    color: #00B6DD;
}

.card__title {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1.2px;
    color: #000000;
}

.card__text {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.8px;
    color: #000000;
}

.card__button {
    display: block;
    margin-top: auto;
    width: 160px;
    height: 40px;
    background-color: #00B6DD;
    color: #FFFFFF;

    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.9px;
    border: none;
}

.card__blue {
    background-color: #00B6DD;
}

.card__darkblue {
    background-color: #081580;
}

.card__blueSpan {
    color: #00B6DD;
}

.card__darkblueSpan {
   color: #081580;
}


@media screen and (min-width: 992px) and (max-width: 1199px) {
    .card__item {
        padding: 30px;
        width: 455px;
        height: 470px;
        border: 1px solid #D3D8E4;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .card__img {
        margin-bottom: 20px;
        width: 395px;
        height: 170px;
    }

    .card__title {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 1.2px;
    }

    .card__text {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.8px;
    }
    .card__button {
        width: 160px;
        height: 40px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.9px;
    }
  
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .card__sticker {
        padding: 5px 14px 7px 14px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .card__item {
        padding: 28px;
        width: 345px;
        height: 440px;
        border: 1px solid #D3D8E4;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .card__img {
        margin-bottom: 18px;
        width: 289px;
        height: 150px;
    }

    .card__title {
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1px;
    }

    .card__text {
        margin-bottom: 26px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.6px;
    }

    .card__button {
        width: 140px;
        height: 36px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.9px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    .card__sticker {
        top: 0;
        padding: 5px 14px 7px 14px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .card__item {
        padding: 16px;
        width: 258px;
        height: 448px;
        border: 1px solid #D3D8E4;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .card__img {
        margin-bottom: 12px;
        width: 226px;
        height: 140px;
    }

    .card__title {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1px;
    }

    .card__text {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.6px;
    }

    .card__button {
        width: 140px;
        height: 36px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.9px;
    }
}

@media screen and (max-width: 575px) {

    .card__sticker {
        top: 0;
        padding: 5px 14px 7px 14px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .card__item {
        padding: 16px;
        width: 290px;
        height: 448px;
        border: 1px solid #D3D8E4;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .card__img {
        margin-bottom: 12px;
        width: 258px;
        height: 140px;
    }

    .card__text {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.6px;
        

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

    .card__button {
        width: 140px;
        height: 36px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.9px;
    }
}