.carousel__block {
    margin-top: 100px;
}

.arrow__block {
    margin-top: 40px;
    padding-bottom: 100px;
    display: flex;
    gap: 25px;
}

.slickPrev, .slickNext {
    background: transparent; 
    border: none; 
    outline: none; 
}

.slickPrev:before {
    content: url('../../img/arrow_left.svg'); /* Ссылка на изображение левой стрелки */
}

.slickNext:before {
    content: url('../../img/arrow_right.svg'); /* Ссылка на изображение правой стрелки */
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .carousel__block {
        margin-top: 80px;
    }
    
    .arrow__block {
        margin-top: 40px;
        padding-bottom: 80px;
    }
  
}
  
@media screen and (min-width: 768px) and (max-width: 991px) {
    .carousel__block {
        margin-top: 60px;
    }
    
    .arrow__block {
        margin-top: 30px;
        padding-bottom: 60px;
    }
}
  
@media screen and (min-width: 576px) and (max-width: 767px) {
    .carousel__block {
        margin-top: 50px;
    }
    
    .arrow__block {
        margin-top: 20px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 575px) {
    .carousel__block {
        margin-top: 50px;
    }
    
    .arrow__block {
        margin-top: 20px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
    }
}

:global(.slick-track) {
    display: flex !important;
}