.container__banner-top {
  height: 396px;
  background: linear-gradient(90deg, rgba(1, 1, 1, 0.64) 0%, rgba(1, 1, 1, 0.64) 100%), url('/src/img/banner_1.png') center / cover;
  color: #FFFFFF;
}

.container__banner-middle {
  padding: 100px 0;
  background:#010101;
  color: #FFFFFF;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}


@media screen and (min-width: 992px)  and (max-width: 1199px) {
  .wrapper {
    height: 340px;
  }

  .container {
    max-width: 940px;
  }

  .container__banner-top {
    height: 340px;
  }

  .container__banner-middle {
    padding: 80px 0;
  }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    height: 276px;
  }

  .container {
    max-width: 720px;
  }

  .container__banner-top {
    height: 276px;
  }

  .container__banner-middle {
    padding: 70px 86px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .wrapper {
    height: 236px;
  }

  .container {
    max-width: 546px;
  }

  .container__banner-top {
    height: 236px;
  }

  .container__banner-middle {
    padding: 60px 63px;
  }
}

@media screen and (max-width: 575px) {
  .wrapper {
    height: 274px;
  }

  .container {
    max-width: 290px;
  }

  .container__banner-top {
    height: 274px;
  }

  .container__banner-middle {
    padding: 50px 15px;
  }
  
}
