.header {
    margin: 0 auto;
    padding-top: 120px;

    width: 750px;

    font-weight: 700;
    font-size: 62px;
    line-height: 68px;
    letter-spacing: 1.4px;
    text-align: center;
}


@media screen and (min-width: 992px) and (max-width: 1199px) {
    .header {
        width: 617px;
        padding-top: 100px;
        font-size: 54px;
        line-height: 60px;
        letter-spacing: 1.2px;
    }
  
}
  
@media screen and (min-width: 768px) and (max-width: 991px) {
    .header {
        width: 470px;
        padding-top: 80px;
        font-size: 46px;
        line-height: 48px;
        letter-spacing: 1px;
    }
}
  
@media screen and (min-width: 576px) and (max-width: 767px) {
    .header {
        width: 450px;
        padding-top: 60px;
        font-size: 46px;
        line-height: 48px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 575px) {
    .header {
        padding-top: 60px;
        width: 290px;
        font-size: 46px;
        line-height: 48px;
        letter-spacing: 1px;
    }
}



  